Question: 1

In [1]:
def is_symmetrical(n):
    n = str(n)
    return n == n[::-1]

print(is_symmetrical(7227))

True

Question: 2

In [5]:
def multiply_num(n):
    t = 1
    l = []
    for i in n:
        t *= i
    return t
print(multiply_num([1,2,3,4]))

24

Question: 3

In [6]:
def square_digit(n):
    n = str(n)
    result = ''
    for i in n:
        result += str(int(i)**2)
    return result
print(square_digit(9119))

811181

Question: 4

In [7]:
def remove_duplicate(l):
    l = list(set(l))
    l.sort()
    return l
print(remove_duplicate([1,3,3,5,5]))

[1, 3, 5]

Question: 5

In [10]:
def mean(n):
    n = str(n)
    s = 0
    for i in n:
        s += int(i)
    return s//len(n)
print(mean(42))

3