1. Write a python program to find the factorial of a number?

In [ ]:
n = int(input('enter a num '))
f = 1
for i in range(n,0,-1):
  f *= i

print(f)

enter a num 10
3628800

2. Write a python program to display a multiplication table?

In [ ]:
n = int(input('enter a num: '))
for i in range(1,11):
  print(f'{n} * {i} = {n*i}')

enter a num: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3. Write a python program to print fibonacci sequence?

In [ ]:
n = int(input('enter a num: '))

a = 0
b = 1
if n == 1:
  print(a)
elif n == 2:
  print(a, b)
else:
  print(a,b, end = ' ')
  for i in range(n-2):
    c = a + b
    a = b
    b = c
    print(b, end = ' ')

enter a num: 10
0 1 1 2 3 5 8 13 21 34

4. Write a python program to check Armstrong Number?

In [3]:
n = input("enter a num: ")

temp = int(n)
sum = 0
l = len(n)

for i in range(temp):
  if temp > 0:
    d = temp % 10
    sum += d ** l
    temp //= 10

if int(n) == sum:
  print(f'{n} is armstrong number ')
else:
  print(f'{n} is not armstrong number ')

enter a num: 1234
1234 is not armstrong number

5. Write a python program to find Armstrong Number in an interval?

In [4]:
n1, n2 = 1,1000

for i in range(n1,n2):
    l = len(str(i))
    sum = 0
    temp = i
    while temp > 0:
        d = temp % 10
        sum += d ** l
        temp //= 10

    if i == sum:
        print(i)

1
2
3
4
5
6
7
8
9
153
370
371
407

6. Write a python program to find the sum of natural numbers?

In [7]:
n = int(input('enter a natural numbers: '))

if n < 0:
  print('enter natural numbers')
else:
  s = 0
  for i in range(n+1):
    s += i
print(s)

enter a natural numbers: 5
15